pipeline/varry1.json
{
	"name": "varry1",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('varray')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('varray')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait2",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			},
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varray",
					"value": {
						"value": "@int(4)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"varray": {
				"type": "Array",
				"defaultValue": [
					1,
					2,
					3
				]
			},
			"vstrg": {
				"type": "String",
				"defaultValue": "'giri'"
			},
			"vint": {
				"type": "Integer",
				"defaultValue": 412
			},
			"vbool": {
				"type": "Boolean",
				"defaultValue": true
			}
		},
		"annotations": []
	}
}